@import url(https://fonts.googleapis.com/css?family=Montserrat);

$monserrat: 'Monserrat';

body {
  background-color: #2421d4;
  font-family: $monserrat;
  color: #faeb13;

  .cowsay {

    label, button {
      display: block;
    }

    ul {
      display: inline-block;
    }
  }
}
